body {
    font-family: Arial, sans-serif;
    background: #caa7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #d834f9;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#addTodo {
    background-color: #a053f2;
    color: white;
}

#resetTodo {
    background-color: #537bf2;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background: #eee;
    padding: 5px;
    border-radius: 3px;
}

li button {
    background: red;
    color: white;
    padding: 2px 6px;
    cursor: pointer;
}